td,
th {
  border: 2px solid black;
}

#users {
  border-collapse: collapse;
  text-align: center;
}

.row-1,
.row-2,
.row-3 {
  width: 100px;
}

.row-4 {
  width: 300px;
}

#searchBar {
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50px;
}
